.mui-off-canvas-left {
	width: 260px;
	opacity: .9;
}
.mui-bar {
	background-color: initial;
}
.mui-content{
	background-color: #FFFFFF;
}

.cm-icon-left {
	width: 30px;
	height: 30px;
	background-image: url(../img/icon-bar-left.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute !important;
	left: 10px;
	margin: auto;
	top: 0;
	bottom: 0;
}

.cm-icon-right {
	width: 30px;
	height: 30px;
	background-image: url(../img/icon-bar-right.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute !important;
	right: 10px;
	margin: auto;
	top: 0;
	bottom: 0;
}


.cm-icon-logo {
	width: 30px;
	height: 30px;
	background-image: url(../img/icon-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.cm-offCanvas .mui-card {
	background-color: inherit;
	margin: 0;
}

.cm-offCanvas .mui-card-header {
	width: 230px;
	margin: auto;
	display: block;
	text-align: center;
	border-radius: initial;
	background-color: rgba(255, 255, 255, 0.1);
}
.cm-offCanvas .mui-card-header a {
	color: #FFFFFF;
	font-size: 15px;
	background-color: rgba(255,255,255,.1);
}

.cm-offCanvas .mui-card-footer:before,
.cm-offCanvas .mui-card-header:after {
	content: none;
}
.cm-offCanvas .mui-grid-9{
	background-color: initial;
	border: initial;
}
.cm-offCanvas .mui-grid-9 li {
	width: 112px;
	height: 112px;
	background-color: rgba(255,255,255,0.1);
	margin-right: 3px !important;
    margin: 3px;
    padding: 0 !important;
}

.cm-offCanvas .mui-grid-9 a {
	position: initial;
}
.cm-offCanvas .mui-table-view{
	background-color: inherit;
	padding-right: 0;
	padding-bottom: 3px;
}
.cm-offCanvas .mui-media-object{
	width: 20px;
	height: 20px;
	position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
}
.cm-offCanvas .mui-media-body{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 26px;
	padding-left: 30px;
}
.cm-offCanvas .mui-table-view-chevron .mui-table-view-cell:after{
	right: 15px;
}
.cm-offCanvas .mui-navigate-right:after{
	content: '';
	width: 12px;
	height: 12px;
	background: url(../img/icon-arrowright.png) no-repeat;
	background-size: contain;
}
.cm-offCanvas .mui-grid-9 img {
	width: 60px;
	height: 60px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.cm-offCanvas .mui-grid-9 span {
	font-size: 9px;
	color: #5e5e5e;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.cm-list-project {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
}

.cm-list-project a {
	display: block;
}

.cm-list-project li {
	padding-top: 5px;
}

.cm-list-project img {
	width: 100%;
	vertical-align: top;
}
.cm-tel{
	width: 230px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 80px;
    color: #FFFFFF;
    font-size: 14px;
    display: block;
    margin: 50px auto;
}
.cm-tel a{
	color: #FFFFFF;
}
.mui-table-view-cell:after{
	background-color: #2e2e2e;
}
